node_modules/
.env
tracker.db
server_output.txt
# Mobile
mobile/node_modules/

.idea/
mobile/android/.kotlin/
mobile/android/build/
mobile/web/bundle.js
*.log
server_error.txt
start.bat
package-lock.json
